/* Begin global/general CSS */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 10px;
  font-family: Helvetica, sans-serif;
  color: #FFFFFF;
}

body{
  width: 100%;
  height: 100%;
  background-color: rgb(28, 28, 30);
}

section{
  width: 75%;
  height: 40%;
  border-radius: 5rem;
  margin: 20rem auto; /* Center the element */
  background-color: rgb(44, 44, 46);
  padding: 3rem;
}

a{ /* a = a link */
  text-decoration: none;
}

p{
  font-size: 2em;
  font-weight: 100;
}

img{
  width: 100%;
}

header{
  width: 100%;
  height: 100vh;
}

/* End global/general CSS */
/* Start reusabele classes */

.container{
  max-width: 120rem;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.section-heading{
  text-align: center;
  margin: 3rem;
}

/* Largest heading */
.section-heading h1{
  font-size: 5rem;
  color: rgb(255, 69, 58);
  text-transform: uppercase;
  font-weight: 200;
  position: relative;
}

.section-heading h6{
  font-size: 1.5rem;
  font-weight: 100;
}

.has-margin-right{
  margin-right: 5rem;
}

/* End Reusable */
/* Begin navigation menu */

.top-nav{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: -100vh;
  z-index: 50;
  background-color: rgb(44, 44, 46);
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  transition: all 650ms cubic-bezier(1, 0, 0, 1);
}

.nav-list{
  list-style: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

li{
  margin: 0.2rem;
}

.nav-link{
  color: rgb(100, 100, 100);
  font-family: Helvetica, sans-serif;
  font-size: 5rem;
  padding: 1rem;
  transition: color 650ms;
}

.nav-link:hover,
.nav-link:focus{
  background: rgb(255, 69, 58);
  -webkit-background-clip: text;
  color: transparent;
}

.top-nav.open{
  top: 0;
  border-radius: initial;
}

.menu-toggler{
  position: absolute;
  top: 5rem;
  right: 5rem;
  width: 5rem;
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 1500;
  transition: transform 650ms ease-out;
}

/* NO SPACE HERE */
.menu-toggler.open{
  transform: rotate(-45deg);
}

.bar{
  background: rgb(255, 69, 58);
  width: 100%;
  height: 4px;
  border-radius: 0.8rem;
}

.bar.half{
  width: 50%;
}

.bar.start{
  transform-origin: right;
  transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57)
}

/* SPACE HERE */
.open .bar.start{
  transform: rotate(-90deg) translateX(.8rem);
}

.bar.end{
  align-self: flex-end;
  transform-origin: left;
  transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57)
}

/* SPACE HERE */
.open .bar.end{
  transform: rotate(-90deg) translateX(-.8rem);
}

/* End navigation menu */
/* Begin header page */

.landing-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  z-index: 1;
}

.landing-text h1{
  font-size: 6rem;
  font-family: Helvetica, sans-serif;
  color: #FFFFFF;
  padding: 1rem;
  user-select: none;
  font-weight: 200;
}

.landing-text h6{
  color: #FFFFFF;
  font-size: 2rem;
  font-weight: 100;
}

.landing-text img{
  width: 20rem;
  height: 20rem;
  border-radius: 100%;
}

/* End header page */
/* Begin about*/

.about p{
  text-align: center;
}

.about-details{
  flex: 1;
}

.social-media{
  margin: 1rem;
}

.social-media i{
  color: #FFFFFF;
  font-size: 7rem;
  transition: color 650ms;
  padding: 1rem
}

.fa-facebook-square:hover{
  color: #4267b2;
}

.fa-linkedin:hover{
  color: #0077b5;
}

.fa-github-square:hover{
  color: #9114c2;
}

/* End about*/

.my-skills{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 1rem;
  text-align: center;
}

.skill{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.skill h1{
  text-transform: uppercase;
  margin: 1rem;
  font-weight: 100;
  color: #FFFFFF;
}

.icon-container{
  width: 10rem;
  height: 10rem;
  background-color: #FFFFFF;
  border-radius: 25%;
  margin-bottom: 2rem;
  display: flex;
}

.icon-container i{
  color: rgb(255, 69, 58);
  font-size: 5rem;
  margin: auto;
}

/* begin projects */

.projects-item{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}

.projects-item:last-child{
  margin-bottom: 0;
}

.projects img{
  max-width: 20rem;
  max-height: 20rem;
  border-radius: 25%;
}

.projects-description{
  /* This keeps it centered */
  max-width: 50%;
  flex: 1;
}

.projects-description h1{
  font-size: 3rem;
  font-weight: 200;
  margin: 1rem 0;
  color: #FFFFFF;
}

.projects-description h6{
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 100;
  color: rgb(102, 102, 107);
}

.projects-description .cta{
  display: inline-block;
  margin-top: 2.5rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #5a9cde;
  transition: color 650ms;
}

.projects-description .cta:hover{
  color: #3d6996
}

/* Begin footer*/

.copyright{
  width: 100%;
  text-align: center;
  background-color: rgb(44, 44, 46);
  padding: 2rem 0;
  position: relative;
}

.copyright p{
  font-size: 2rem;
}

.up{
  position: absolute;
  width: 5rem;
  height: 5rem;
  background-color: #FFFFFF;
  top: -2.5rem;
  right: 5rem;
  border-radius: 100%;
  display: flex;
  animation: pulse 2s infinite;
  cursor: pointer;
}

.up i{
  color: rgb(255, 69, 58);
  font-size: 2rem;
  margin: auto;
}

@keyframes pulse{
  0%{
    box-shadow: 0 0 0 0 rgba(255, 69, 58, 0.99);
  }
  70%{
    box-shadow: 0 0 0 2rem rgba(255, 69, 58, 0);
  }
  100%{
    box-shadow: 0 0 0 0 rgba(255, 69, 58, 0);
  }
}

